/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
    background-color: #D4A76A;
}
header {
    background-color: #FFDBAA;
    color: #553100;
    border-bottom: 1px solid black;
    padding: 1%; padding-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    width: 100%;
    height: 35px;
    /* padding: 3%; */
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 16px; */
    font-size: 100%;
    font-weight: bold;
    -->text-transform: none;
    border: 1px solid transparent;
    background-color: #805215;
    color: #ffffff;
}
.nav-button {
    width: 100%;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
    -->text-transform: none;
    border: 1px solid transparent;
    background-color: #805215;
    color: #ffffff;
    margin: 4%;
}
.card {
    background-color: #ffffff;
    width: 25%;
    /* height: 100px; */
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    border-width: 2px;
    border-color: black;
    transition: 2s;
    padding: 10px;
    flex-grow: 4;
    flex-basis: auto;
    margin: 2%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.left {
    float: left;
    margin-left: 1%;
    font-size: 80%;
}
.right {
    float: right;
    margin-right: 20%;
}
.row {
    display: flex;
    justify-content: space-between;
}
.center {
    float: center;
    margin-inline: 5%
}